<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="130201601"
	android:versionName="13.16.1_reiryuki"
	android:compileSdkVersion="31"
	android:compileSdkVersionCodename="12"
	package="com.miui.deskclock"
	platformBuildVersionCode="31"
	platformBuildVersionName="12"
	>
	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="31"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.TURN_SCREEN_ON"
		>
	</uses-permission>
	<uses-permission
		android:name="oplus.permission.OPLUS_COMPONENT_SAFE"
		>
	</uses-permission>
	<uses-permission
		android:name="org.codeaurora.permission.POWER_OFF_ALARM"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ROTATE_SURFACE_FLINGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_SURFACE_FLINGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_MEDIA_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_MEDIA_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.USE_FULL_SCREEN_INTENT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.DISABLE_KEYGUARD"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.DEVICE_POWER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SECURE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.STATUS_BAR"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.UPDATE_DEVICE_STATS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.permission.MANAGE_BOOT_TIME"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.BLE_IMMEDIATE_ALERT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.USE_INTERNAL_GENERAL_API"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_THEME"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.weather2.permission.WRITE_DB"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.PERM_USE_INFO"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.powerkeeper.permission.REQUEST_WAKE"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.powerkeeper.HIDDEN_MODE_PROVIDER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.SYSTEM_PERMISSION_DECLARE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.mi.health.permission.DEFAULT_READ_DATA"
		>
	</uses-permission>
	<uses-permission
		android:name="com.mi.health.permission.DEFAULT_WRITE_DATA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.STATUS_BAR_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.wearable.permission.CONSOLE_ALARM_RECEIVE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.mi.fitness.permission.CONSOLE_ALARM_RECEIVE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SCHEDULE_EXACT_ALARM"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
		>
	</uses-permission>
	<permission
		android:name="miui.permission.ACCESS_ALARM_PROVIDER"
		>
	</permission>
	<permission
		android:name="miui.permission.ALARM_RINGTONE_PICKER"
		>
	</permission>
	<uses-permission
		android:name="android.permission.REQUEST_INSTALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.market.sdk.UPDATE"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.ALARM_RINGTONE_PICKER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NOTIFICATION_POLICY"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_NOTIFICATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_ROUTING"
		>
	</uses-permission>
	<queries
		>
		<package
			android:name="com.miui.weather2"
			>
		</package>
		<package
			android:name="com.miui.player"
			>
		</package>
		<package
			android:name="com.xiaomi.smarthome"
			>
		</package>
		<package
			android:name="com.lbe.security.miui"
			>
		</package>
		<package
			android:name="com.android.thememanager"
			>
		</package>
		<package
			android:name="com.mi.health"
			>
		</package>
		<package
			android:name="com.miui.voiceassist"
			>
		</package>
		<package
			android:name="com.xiaomi.wearable"
			>
		</package>
		<package
			android:name="com.miui.rom"
			>
		</package>
	</queries>
	<application
		android:label="@7F110049"
		android:icon="@7F080098"
		android:name="com.miui.deskclock.DeskClockApp"
		android:backupAgent="com.miui.deskclock.addition.backup.DeskClockBackupAgent"
		android:allowBackup="true"
		android:uiOptions="0x00000001"
		android:supportsRtl="true"
		android:extractNativeLibs="true"
		android:usesCleartextTraffic="true"
		android:resizeableActivity="true"
		android:directBootAware="true"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:usesNonSdkApi="true"
		android:requestLegacyExternalStorage="true"
		android:preserveLegacyExternalStorage="true"
		android:requestRawExternalStorageAccess="true"
		>
		<uses-library
			android:name="com.miui.system"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="com.miui.rom"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="android-support-v13.jar"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="gson.jar"
			android:required="false"
			>
		</uses-library>
		<meta-data
			android:name="android.max_aspect"
			android:value="2.2"
			>
		</meta-data>
		<meta-data
			android:name="com.miui.deskclock.voiceclock"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="support_xiao_ai_ringtone"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="required_permissions"
			android:value="@7F11022B"
			>
		</meta-data>
		<meta-data
			android:name="com.android.thememanager.PRIV_PATH_RES"
			android:value="true"
			>
		</meta-data>
		<activity
			android:theme="@7F1200CE"
			android:label="@7F110049"
			android:name="com.miui.deskclock.DeskClockTabActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="2"
			android:hardwareAccelerated="@7F050009"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<data
					android:scheme="deskclock"
					android:host="deskclock.android.com"
					android:path="/main"
					>
				</data>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="mi.quicksearch.intent.action.RETRIEVE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.REQUEST_NET_PERMISSION"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="mi.quicksearch.hints"
				android:resource="@7F140001"
				>
			</meta-data>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@7F140009"
				>
			</meta-data>
		</activity>
		<activity-alias
			android:name="com.miui.deskclock.AlarmClock"
			android:exported="true"
			android:targetActivity="com.miui.deskclock.DeskClockTabActivity"
			>
		</activity-alias>
		<activity-alias
			android:name="com.android.alarmclock.AlarmClock"
			android:exported="true"
			android:targetActivity="com.miui.deskclock.DeskClockTabActivity"
			>
		</activity-alias>
		<activity
			android:theme="@7F1200D8"
			android:label="@7F11031C"
			android:name="com.miui.deskclock.timer.HourGlassActivity"
			android:exported="true"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F1201FA"
			android:name="com.miui.deskclock.ShortcutTrampolineActivity"
			android:exported="true"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.shortcut.NEW_ALARM"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.shortcut.START_TIMER"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.shortcut.STOP_WATCH"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F12020C"
			android:label="@7F110351"
			android:name="com.miui.deskclock.worldclock.TimezoneSearchActivity"
			android:exported="false"
			android:screenOrientation="2"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000034"
			>
		</activity>
		<activity
			android:theme="@7F12020C"
			android:label="@7F11034B"
			android:name="com.miui.deskclock.worldclock.WorldClockEditActivity"
			android:exported="true"
			android:launchMode="3"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.EDIT"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<data
					android:scheme="deskclock"
					android:host="details"
					android:path="/edit"
					>
				</data>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.CITIES_EDIT"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120160"
			android:label="@7F1101FA"
			android:name="com.miui.deskclock.settings.SettingsActivity"
			android:exported="true"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<data
					android:scheme="deskclock"
					android:host="deskclock.android.com"
					android:path="/main/SettingsActivity"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120160"
			android:label="@7F1101F8"
			android:name="com.miui.deskclock.settings.AlarmSettingsActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F120160"
			android:label="@7F11021A"
			android:name="com.miui.deskclock.settings.PrivacySettingsActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F120160"
			android:label="@7F110211"
			android:name="com.miui.deskclock.settings.PermissionDescActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F1200B4"
			android:name="com.miui.deskclock.addition.monitor.MonitorTestActivity"
			android:exported="true"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F12017A"
			android:label="@7F110247"
			android:name="com.miui.deskclock.alarm.SetAlarmActivity"
			android:exported="true"
			android:screenOrientation="2"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000020"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<data
					android:scheme="deskclock"
					android:host="deskclock.android.com"
					android:path="/setalarm"
					>
				</data>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.SET_ALARM"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120003"
			android:name="com.miui.deskclock.alarm.alert.AlarmAlertFullScreenActivity"
			android:exported="false"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:launchMode="3"
			android:screenOrientation="2"
			android:configChanges="0x000004A0"
			android:resizeableActivity="true"
			>
		</activity>
		<activity
			android:theme="@7F120160"
			android:label="@7F11016F"
			android:name="com.miui.deskclock.alarm.lifepost.LifePostSettingActivity"
			android:exported="true"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<data
					android:scheme="deskclock"
					android:host="deskclock.android.com"
					android:path="/main/LifePostSettingActivity"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1201FA"
			android:name="com.miui.deskclock.HandleSetAlarmActivity"
			android:permission="com.android.alarm.permission.SET_ALARM"
			android:exported="true"
			android:excludeFromRecents="true"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.DISMISS_TIMER"
					>
				</action>
				<action
					android:name="android.intent.action.SET_ALARM"
					>
				</action>
				<action
					android:name="android.intent.action.SHOW_ALARMS"
					>
				</action>
				<action
					android:name="android.intent.action.SET_TIMER"
					>
				</action>
				<action
					android:name="android.intent.action.SHOW_TIMERS"
					>
				</action>
				<action
					android:name="android.intent.action.DISMISS_ALARM"
					>
				</action>
				<action
					android:name="android.intent.action.SNOOZE_ALARM"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.VOICE"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1201FA"
			android:name="com.miui.deskclock.HandleActivityIntent"
			android:permission="com.android.alarm.permission.SET_ALARM"
			android:exported="true"
			android:excludeFromRecents="true"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.BEDTIME_MANAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200B4"
			android:label="@7F110037"
			android:name="com.miui.deskclock.settings.AlarmRingtonePickerActivity"
			android:permission="miui.permission.ALARM_RINGTONE_PICKER"
			android:exported="true"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.ALARM_RINGTONE_PICKER"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120135"
			android:label="@7F110050"
			android:name="com.miui.deskclock.alarm.bedtime.BedtimeManageActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F1200B6"
			android:label=""
			android:name="com.miui.deskclock.alarm.bedtime.BedtimeGuideActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F120160"
			android:label="@7F110062"
			android:name="com.miui.deskclock.alarm.bedtime.BedtimeSettingsActivity"
			android:exported="false"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F1200D3"
			android:label="@7F110164"
			android:name="com.miui.deskclock.alarm.SetLabelActivity"
			android:exported="false"
			android:launchMode="1"
			android:screenOrientation="2"
			android:windowSoftInputMode="0x00000034"
			>
		</activity>
		<service
			android:name="com.miui.deskclock.alarm.alert.AlarmService"
			android:exported="false"
			android:description="@7F110030"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.ALARM_ALERT"
					>
				</action>
			</intent-filter>
		</service>
		<service
			android:name="com.miui.deskclock.alarm.lifepost.RecommendIntentService"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.miui.deskclock.settings.RingtonePlayService"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.miui.deskclock.addition.resource.ResourceLoadService"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.miui.deskclock.addition.monitor.MonitorJobScheduler"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.miui.deskclock.addition.backup.ClockBackupService"
			android:permission="com.xiaomi.permission.CLOUD_MANAGER"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="miui.action.CLOUD_BACKUP_SETTINGS"
					>
				</action>
				<action
					android:name="miui.action.CLOUD_RESTORE_SETTINGS"
					>
				</action>
			</intent-filter>
		</service>
		<service
			android:name="com.miui.deskclock.KeepLiveService"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.miui.deskclock.timer.TimerService"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.miui.deskclock.JobSchedulerService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="false"
			>
		</service>
		<receiver
			android:name="com.miui.deskclock.AlarmReceiver"
			android:exported="false"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.deskclock.ALARM_ARRIVING"
					>
				</action>
				<action
					android:name="com.miui.deskclock.ALARM_ARRIVING_TRANSPARENT"
					>
				</action>
				<action
					android:name="com.miui.deskclock.ALARM_DATA_PREPARE"
					>
				</action>
				<action
					android:name="com.miui.deskclock.SLEEP_ALARM_NOTIFICATION"
					>
				</action>
				<action
					android:name="com.miui.deskclock.ENTER_ZENMODE"
					>
				</action>
				<action
					android:name="com.miui.deskclock.REACH_WAKE_TIME"
					>
				</action>
				<action
					android:name="com.miui.deskclock.XIAOAI_RINGTONE_QUERY_ACTION"
					>
				</action>
				<action
					android:name="com.miui.deskclock.ALARM_ARRIVING_TRANSPARENT_FOR_XIAOAI"
					>
				</action>
				<action
					android:name="com.miui.deskclock.HANDLE_NOT_SURE_ALERT"
					>
				</action>
				<action
					android:name="action.alarm_cancel"
					>
				</action>
				<action
					android:name="action.snooze_cancel"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.miui.deskclock.AlarmInitReceiver"
			android:exported="false"
			>
			<intent-filter
				android:priority="@7F0B001A"
				>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"
					>
				</action>
				<action
					android:name="android.intent.action.TIME_SET"
					>
				</action>
				<action
					android:name="android.intent.action.TIMEZONE_CHANGED"
					>
				</action>
				<action
					android:name="android.intent.action.ACTION_SHUTDOWN"
					>
				</action>
				<action
					android:name="miui.intent.action.ALARM_CHANGED"
					>
				</action>
				<action
					android:name="android.intent.action.LOCKED_BOOT_COMPLETED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.miui.voiceassist.mvs.client.MvsClientReceiver"
			android:permission="com.miui.voiceassist.MVS_BROADCAST"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.voiceassist.mvs.client.ACTION_RESGISTER_MVS"
					>
				</action>
			</intent-filter>
		</receiver>
		<provider
			android:name="com.miui.deskclock.AlarmProvider"
			android:permission="miui.permission.ACCESS_ALARM_PROVIDER"
			android:exported="true"
			android:authorities="com.miui.deskclock"
			>
		</provider>
		<provider
			android:name="com.miui.deskclock.alarm.bedtime.BedtimeProvider"
			android:exported="true"
			android:authorities="com.miui.deskclock.bedtimeProvider"
			>
		</provider>
		<provider
			android:name="com.miui.deskclock.addition.AdditionProvider"
			android:exported="true"
			android:authorities="com.miui.deskclock.additionProvider"
			>
		</provider>
		<provider
			android:name="com.miui.deskclock.alarm.lifepost.model.LifePostProvider"
			android:exported="false"
			android:authorities="com.miui.deskclock.lifepost"
			>
		</provider>
		<provider
			android:name="com.miui.deskclock.settings.ClockSettingSearchProvider"
			android:exported="true"
			android:multiprocess="false"
			android:authorities="com.miui.deskclock.settings.ClockSettingSearchProvider"
			android:grantUriPermissions="true"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.SETTINGS_SEARCH_PROVIDER"
					>
				</action>
			</intent-filter>
		</provider>
		<meta-data
			android:name="miuixpreference"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="appcompat"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="popupwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="slidingwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="com.miui.maml.sdk"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="pickerwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="androidbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="miuixbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="springback"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="nestedheader"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="nest"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="dynamicoverscroller"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview_animator"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="folme"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="haptic"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="pinyin"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="graphics"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="core"
			android:value="2.0"
			>
		</meta-data>
		<service
			android:name="com.xiaomi.smarthome.ClockService"
			android:enabled="true"
			android:exported="true"
			>
		</service>
		<meta-data
			android:name="devicebaseinfo"
			android:value="1.0"
			>
		</meta-data>
		<receiver
			android:name="miui.settings.commonlib.ApplicationReceiverStub"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.RESTART_APP_STUB"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</receiver>
		<meta-data
			android:name="viewpager"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="spring"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="animation"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="smooth"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="blurdrawable"
			android:value="1.0"
			>
		</meta-data>
	</application>
</manifest>
